<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inv.Properties.Login" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Inv.Properties.user" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Inv.Properties.Login>
            <setting name="DBLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
        </Inv.Properties.Login>
        <Inv.Properties.user>
            <setting name="DBLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
        </Inv.Properties.user>
    </userSettings>
</configuration>